<header class="page-header">
  <h1>Welcome to the Jungle (store)!
</header>

<div><h2>You thought Elon was ahead of his time? Check out our state of the art products (he approves)!!</h2><div>
<img class="about-banner" alt="store banner of Elon Musk giving thumbsup" src="https://static01.nyt.com/images/2021/05/09/fashion/07ELON-MEMES1print/merlin_186856077_79eae717-8121-4e4d-9a26-1137eb410690-superJumbo.jpg" />

<div><h3>Online store by Pablo Tack built using Ruby, Ruby on Rails, ERB, and Active Record(AR).</h3><div>